/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

height,body{
    height:100%;
    width: 100vw;
    overflow-x: hidden;
}

body{
    margin: 0px;
    font-family: Roboto ,"Helvetica neue" , sans-serif;
    background-color: #fafafa;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color:#4295f5;
}
