<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="image-class" src="assets\images\gif.png"  (click)="goToHome()"/>
    <mat-form-field class="search-input" *ngIf="showSearchBar" >
      <input matInput placeholder="search" value={{value}}  #box (keyup.enter)="onEnter(box.value)">
      <input matInput class="input">
      <mat-icon matSuffix>
        <i class="material-icons">search</i>
      </mat-icon>
    </mat-form-field>
    <button mat-button class="mat-button-favlist" [routerLink]="['/favourite']">Favourite</button>
    <button mat-button class="mat-button-recommendations" [routerLink]="['/recommendations']">Recommendations</button>
    <button mat-button class="mat-button-logout" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
